body {
  background: rgb(81, 148, 191)
}

.container {
  margin-top: 50px;
  margin-bottom: 30px;
  background: rgb(55, 99, 127);
  align: center;
  border: 3px solid;
  border-radius: 15px;
}
p {
  color: rgb(188, 208, 252)
}

h1 {
  font-family: Verdana;
  color: rgb(188, 208, 252);
  text-align: center;
  text-decoration: underline;
}


a:hover {
  background: rgb(255, 211, 109);
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.container h4 {
  text-align: center;
}

.container h4 a {
  text-align: center;

}

.container h3 {
  text-align: center;
}

.container h3 a {
  text-align: center;
  color: rgb(245, 136, 136);
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
}

.container #title {
  text-decroation: underline;

}
