body {
  background: rgb(81, 148, 191)
}

#logo{
  border-radius: 100px;
  display: block;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
}

#logo:hover{
  box-shadow: 10px 10px 5px rgb(255, 211, 109);
}

.container {
  margin-top: 50px;
  margin-bottom: 30px;
  background: rgb(55, 99, 127);
  align: center;
  border: 3px solid;
  border-radius: 15px;
}
p {
  color: rgb(188, 208, 252)
}

h1 {
  font-family: Verdana;
  color: rgb(188, 208, 252);
  text-align: center;
  text-decoration: underline;
}


a:hover {
  background: rgb(255, 211, 109);
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.container h4 {
  color: rgb(245, 136, 136);
  text-align: center;
}

.container h4 a {
  text-align: center;

}

#new-robot-form{
  text-align: center;
  margin: 5px;
}

.container h3 {
  text-align: center;
}

.container h3 a {
  text-align: center;
  color: rgb(245, 136, 136);
  padding: 5px;
  border: 5px solid;
  border-radius: 20px;
  margin: 3px;
}

.container #title {
  text-decroation: underline;
}


.robot-pictures{
  float: left;
  width: 175px;
  text-align: center;
}



.robot-solo-pic {
  float: right;
}
