<h1>RoboWorld Headquarters</h1>

<div class="page-header">

<h3>
  <a href="/robots">All Robots</a>
  <a href="/robots/new_robot">Add a New Robot</a>

</h3>
</div>

<table class="table table-bordered">
<tr>
  <th>Total Robots</th>
  <th>Average Age</th>
  <th>Average Salary</th>
</tr>
<tr>
  <td><%= @robots.count %></td>
  <td><%= @average_age %></td>
  <td>$<%= @average_salary %></td>
</tr>
</table>

<!-- <% @each_year.each do |x| %>

<p><%= x[:date_hired] %> </p>
<% end %> -->
