<h1>RoboWorld Headquarters</h1>

<div class="page-header">

<h3>
  <a class="btn" href="/robots">All Robots Registered with RoboWorld</a>
  <a class="btn" href="/robots/new_robot">Add a New Robot</a>

</h3>
</div>
