<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/application.css">
  <title>RoboWORLD</title>
</head>
<body>

  <a href="/" alt="RobotWorld Logo"><img id="logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcShD15A0MN46l1eVXDZDlBo8IiNSFLyNV_PjmnJu71aIZ9DQQp5sg"></a>


  <div class="container">
    <%= yield %>
  </div>
  <footer>Andrew Carmer &bull; <a href="https://github.com/carmer">GitHub</a></footer>
</body>
</html>
