<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/application.css">
  <title>RoboWORLD</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  <footer>Andrew Carmer &bull; <a href="https://github.com/carmer">GitHub</a></footer>
  </div>
</body>
</html>
