<h1>New Robot Information Form</h1>

<h3>Please Fill Out This Form Carefully</h3>

<div id="new-robot-form">
<p>Create Random Robot(s)</p><br>
<form action="/robots/rando-bot" method="post">
  <input type="text" name="robots[number]" placeholder="How Many Rondo-bots?"><br>
  <input type="submit" class="btn" value="Rando-Generate"><br>
</form><br/><br/>
<p> Or... Create your own custom robot.</p>
  <p>Enter information for Your New Robot:</p><br>
<form action="/robots" method="post">
  <input type="text" name="robot[name]" placeholder="Robot's Name"/><br>
  <input type="text" name="robot[city]" placeholder="City"/><br>
  <input type="text" name="robot[state]" placeholder="State"/><br>
  <input type="text" name="robot[avatar]" placeholder="Description of the Robot"/><br>
  <input type="date" name="robot[dob]" placeholder="Birthday"/><br>
  <input type="date" name="robot[date_hired]" placeholder="Date Hired"/><br>
  <input type="text" name="robot[department]" placeholder="Department"/><br>
  <input type='submit' class="btn" value="Create Robot"/><br>
</form>


</div>
