<h1>New Robot Information Form</h1>

<h3>Please Fill Out This Form Carefully</h3>

<form action="/robots" method="post">
  <p>Enter information for Your New Robot:</p>
  <input type="text" name="robot[name]" placeholder="Robot's Name"/>
  <input type="text" name="robot[city]" placeholder="City"/>
  <input type="text" name="robot[state]" placeholder="State"/>
  <input type="text" name="robot[avatar]" placeholder="Description of the Robot"/>
  <input type="date" name="robot[dob]" placeholder="Birthday"/>
  <input type="date" class name="robot[date_hired]" placeholder="Date Hired"/>
  <input type="text" name="robot[department]" placeholder="Department"/>
  <input type='submit' class="btn" value="Create Robot"/>
</form>

<form action="/robots/rando-bot" method="post">
  <input type="text" name="robots[number]" placeholder="How Many Rondo-bots?">
  <input type="submit" class="btn" value="Rando-Generate">
</form>
